//
//  Config-Development.xcconfig
//  iOSAssignment
//
//  Created by mohammadSaadat on 6/5/1400 AP.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// ==========================
// MARK: - Internal Variables
// ==========================
FORWARD_SLASH = /

// ==================
// MARK: - App Config
// ==================
PRODUCT_NAME = Space-X
PRODUCT_DISPLAY_NAME = DEV_$(PRODUCT_NAME)
PRODUCT_SHORT_VERSION = 1.0.0
PRODUCT_VERSION = 1

// ====================
// MARK: - Build Config
// ====================
OTHER_SWIFT_FLAGS = '$(inherited)' '-Xfrontend' '-warn-long-function-bodies=200' '-Xfrontend' '-warn-long-expression-type-checking=200'
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_BITCODE = NO

// ============
// MARK: - URLs
// ============
BASE_URL = https:$(FORWARD_SLASH)/truecaller.blog
